@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Cormorant+Garamond:wght@500;600;700&display=swap");

:root{
    --primary:#C88A4D;
    --primary-light:#E4B06C;
    --primary-dark:#8D5D2F;
    --black:#0F0D0B;
    --surface:#171411;
    --surface-light:#231F1A;
    --white:#FFFFFF;
    --text:#E7E2DC;
    --text-light:#A89F96;
    --border:rgba(255,255,255,.08);
    --glass:rgba(255,255,255,.05);
    --transition:.35s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family:"Outfit",sans-serif;
    background: var(--black);
    color: var(--text);
    overflow-x: hidden;
    font-size: 1.6rem;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
    font-weight: 400;
    line-height: 1.6;
}

h1{
    font-size:clamp(5.5rem,8vw,8rem);
}

h2{
    font-size:4.5rem;
}

h3{
    font-size:3rem;
}

p{
    font-size:1.7rem;
    line-height:1.8;
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: min(1280px,92%);
    margin: auto;
}

section {
    padding: 120px 0;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
    transition: .45s ease;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    width: 20px;
    background: var(--text);
}

::selection {
    background: var(--primary);
    color: #fff;
}

/* Header */

#header {
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 10000;
}

/* Header Container */

.headerContainer {
    position: relative;
    overflow: hidden;
    width: min(1280px,92%);
    height: 82px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(24,20,18,.55);
    border: 1px solid rgba(255,255,255,0.8);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 100px;
    padding: 0 28px;
    box-shadow: 0 15px 45px rgba(0,0,0,.35), inset 0 1px 0 rgba(255,255,255,.06);
    transition: .45s ease;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.logo h2{
    font-family: "Cormorant Garamond",serif;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: var(--white);
}

.logo h2 span {
    color: var(--primary);
}

.logo:hover {
    transform: translateY(-2px);
}

/* Navbar */

.navbar {
    margin: auto;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 22px;
    border-radius: 50px;
    color: rgba(255,255,255,.75);
    font-size: 1.55rem;
    font-weight: 500;
    transition: var(--transition);
    font-size: 1.55rem;
    font-weight: 500;
    overflow: hidden;
    transition: .4s ease;
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );
    transform: skewX(-25deg);
    transition: .8s ease;
}

.navbar ul li a:hover::before {
    left: 140%;
}

.navbar ul li a:hover {
    color: var(--primary-light);
    background-color: rgba(200,138,77,.12);
    transform: translateY(-2px);
}

.navbar ul li a.active{
    color: var(--primary-light);
    background-color: rgba(200,138,77,.12);
}

.navbar ul li a.active::after {
    width: 70%;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 0;
    height: 2px;
    border-radius: 20px;
    background:linear-gradient(
        90deg,
        var(--primary-light),
        var(--primary)
    );
    transform: translateX(-50%);
    transition: .35s ease;
}

.navbar ul li a:hover::after {
    width: 70%;
}

.navbar ul li a:hover {
    transform: translateY(-3px);
    transition: var(--transition);
}

.headerContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        135deg,
        rgba(255,255,25,.12),
        transparent 35%,
        transparent 65%,
        rgba(255,255,255,.04)
    );
    pointer-events: none;
}

.headerContainer:hover {
    border-color: rgba(200,138,77,.25);
    box-shadow: 0 30px 70px rgba(0,0,0,.45),
    0 0 35px rgba(200,138,77,.18),
    inset 0 1px 0 rgba(255,255,255,.08);
}

/* Order Button */

.orderBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 16px 30px;
    overflow: hidden;
    border-radius: 25px;
    background: linear-gradient(
        135deg,
        var(--primary-light),
        var(--primary)
    );
    color: #FFFFFF;
    font-size: 1.55rem;
    font-weight: 600;
    transition: .4s ease;
}

.orderBtn:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 35px rgba(200,138,77,.35);
}

.orderBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 40%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );
    transform: skewX(-25deg);
}

.orderBtn:hover::before {
    animation: buttonShine .8s ease;
}

@keyframes buttonShine {
    0%{
        left: -120%;
    }
    100% {
        left: 170%;
    }
}

/* Sticky */

#header.sticky{
    top: 15px;
}

#header.sticky .headerContainer{
    height: 74px;
    background: rgba(15,13,11,.82);
    backdrop-filter: blur(28px);
}

/* Active Pill */
.headerContainer{
    position:relative;
}

.headerContainer::after{
    content:"";
    position:absolute;
    inset:-1px;
    border-radius:inherit;
    padding:1px;
    background:linear-gradient(
        90deg,
        transparent,
        rgba(200,138,77,.6),
        transparent,
        rgba(255,255,255,.25),
        transparent
    );
    background-size:300%;
    animation:borderMove 8s linear infinite;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
    mask-composite:exclude;
    pointer-events: none;
}

@keyframes borderMove{

0%{
background-position:0%;
}

100%{
background-position:300%;
}
}

.headerParticles{
    position:absolute;
    inset:0;
    overflow:hidden;
    pointer-events:none;
}

.headerParticles span{
    position:absolute;
    width:4px;
    height:4px;
    border-radius:50%;
    background:rgba(200,138,77,.8);
    animation:floatParticle 10s linear infinite;
}

.headerParticles span:nth-child(1){
left:8%;
animation-delay:0s;
}

.headerParticles span:nth-child(2){
left:25%;
animation-delay:2s;
}

.headerParticles span:nth-child(3){
left:55%;
animation-delay:4s;
}

.headerParticles span:nth-child(4){
left:78%;
animation-delay:6s;
}

.headerParticles span:nth-child(5){
left:92%;
animation-delay:8s;
}

@keyframes floatParticle{
0%{
transform:translateY(40px);
opacity:0;
}
30%{
opacity:1;
}
100%{
transform:translateY(-80px);
opacity:0;
}

}

.menuBtn{
    display:none;
    width:54px;
    height:54px;
    border-radius:50%;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    position:relative;
    transition:.4s ease;
}

.menuBtn span{
    position:absolute;
    left:50%;
    width:22px;
    height:2px;
    background:#fff;
    border-radius:10px;
    transition:.4s ease;
}

.menuBtn span:nth-child(1){
transform:translate(-50%,-7px);
}

.menuBtn span:nth-child(2){
transform:translate(-50%,0);
}

.menuBtn span:nth-child(3){
transform:translate(-50%,7px);
}

.menuBtn:hover{
    transform:rotate(90deg);
    background:rgba(200,138,77,.12);
}

.logo,
.navbar a,
.orderBtn,
.menuBtn{
    transition:
    transform .35s ease,
    background .35s ease,
    box-shadow .35s ease,
    color .35s ease;
}

#header:hover .headerContainer{
    box-shadow:
    0 25px 60px rgba(0,0,0,.35),
    0 0 45px rgba(200,138,77,.15);
}

/*=========================================
            MOBILE MENU
=========================================*/

@media(max-width:992px){

.navbar{
    position:absolute;
    top:105px;
    left:0;
    width:100%;
    opacity:0;
    visibility:hidden;
    transform:translateY(-20px);
    transition:.45s ease;
}

.navbar ul{
    flex-direction:column;
    gap:8px;
    padding:25px;
    border-radius:30px;
    background:rgba(18,15,13,.96);
    backdrop-filter:blur(30px);
    border:1px solid rgba(255,255,255,.08);
}

.navbar.show{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.menuBtn{
    display:flex;
}

.headerRight{
    display:none;
}
}

.menuBtn.active span:nth-child(1){
transform:
translate(-50%,0)
rotate(45deg);
}

.menuBtn.active span:nth-child(2){
opacity:0;
}

.menuBtn.active span:nth-child(3){
transform:
translate(-50%,0)
rotate(-45deg);
}

#header.sticky{
top:12px;
}

#header.sticky .headerContainer{
height:72px;
background:rgba(15,12,10,.92);
backdrop-filter:blur(30px);
box-shadow:
0 20px 60px rgba(0,0,0,.45);
}

/** Hero Section Start  */

#hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    isolation:isolate;
    padding: 180px 0 120px;
    background: linear-gradient(
        180deg,
        #15110d 0%,
        #0f0d0b 55%,
        #090807 100%
    );
}

/* Hero Container  */

.heroContainer {
    position: relative;
    display : grid;
    grid-template-columns: 1.05fr .95fr;
    align-items: center;
    z-index: 5;
    gap: 90px;
}

/* Hero OverLay  */

.heroOverlay {
    position: absolute;
    inset:0;
    z-index: 1;
    background: linear-gradient(
        135deg,
        rgba(200,138,77,.08) 0%,
        transparent 35%),
        radial-gradient(
            circle at top right,
            rgba(255,255,255,.04),
            transparent 40%),
        radial-gradient(
            circle at bottom left,
            rgba(200,138,77,.06),
            transparent 35%
        );
}

/* Hero Noise  */

.heroNoise {
    position: absolute;
    inset: 0;
    z-index: 2;
    opacity: .04;
    pointer-events: none;
    background-image: url();
}

/* Hero Decoration  */

.heroDecoration {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
}

/* Hero Blur */

.heroBlur {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
}

.blur1{
    width: 420px;
    height: 420px;
    top: -120px;
    left:-100px;
    background: rgba(200,138,77,.18);
}

.blur2{
    width: 350px;
    height: 350px;
    right: -80px;
    bottom: -80px;
    background: rgba(255,255,255,.05);
}

/* Hero Content  */

.heroContent {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

/* Hero Badge */

.heroBadge {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 12px 22px;
    border-radius: 999px;
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 15px 40px rgba(0,0,0,.25);
    transition: var(--transition);
    cursor: pointer;
}

.heroBadge:hover {
    transform: translateY(-4px);
    border-color: rgba(200,138,77,.20);
    box-shadow: 0 20px 45px rgba(200,138,77,.20);
}

.badgeIcon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        var(--primary-light),
        var(--primary)
    );
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(200,138,77,.35);
    flex-shrink: 0;
}

.badgeText {
    font-size: 1.35rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text);
    white-space: nowrap;
}

/* Hero Title */

.heroTitle {
    max-width: 650px;
    font-family: "Cormorant Garamond",serif;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -2px;
    color: var(--white);
    text-wrap:balance;
}

.heroTitle span {
    display: inline-block;
    color: transparent;
    background: linear-gradient(
        135deg,
        #ffd58a,
        var(--primary-light),
        var(--primary),
        #8d5d2f
    );
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(
        0 8px 18px rgba(200,138,77,.25)
    );
}

.heroTitle strong {
    display: block;
    font-weight: 700;
    color: var(--white);
    position: relative;
}

.heroTitle strong::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(
        90deg,
        var(--primary),
        transparent
    );
    opacity: .9;
    box-shadow: 0 0 18px rgba(200,138,77,.45);
}

/* Hero Description */

.heroDescription {
    max-width: 620px;
    font-size: 1.8rem;
    line-height: 1.9;
    color: var(--text-light);
}

.heroTitle,
.heroDescription{
    transition: var(--transition);
}

/* Hero Buttons */
.heroButtons {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

/* Primary Button */

.primaryBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 18px 34px;
    border-radius: 999px;
    background: linear-gradient(
        135deg,
        var(--primary-light),
        var(--primary)
    );
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    overflow: hidden;
    transition: var(--transition);
    box-shadow: 0 18px 35px rgbaI(200,138,77,.28);
}

.primaryBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120px;
    width: 60%;
    height: 100%;
    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );
    transform: skewX(-25deg);
    transition: .8s;
}

.primaryBtn:hover {
    transform: translateY(-6px);
    box-shadow: 0 28px 55px rgba(200,138,77,.35);
}

.primaryBtn:hover::before {
    left: 160%;
}

.primaryBtn i{
    transition: .35s;
}

.primaryBtn:hover i{
    transform: translateX(6px);
}

/* Secondary Button */

.secondaryBtn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    transition: var(--transition);
}

.secondaryBtn i{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255,255,255,.06);
    border: 1px solid rgba(255,255,255,.08);
    backdrop-filter: blur(15px);
    color: var(--primary-light);
    transition: var(--transition);
}
.secondaryBtn:hover {
    color: var(--primary-light);
}

.secondaryBtn:hover i{
    transform: scale(1.08);
    background: var(--primary);
    color: #fff;
    box-shadow: 0 15px 35px rgba(200,138,77,.35);
}

/* Review Box */

.reviewBox{
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 20px 24px;
    border-radius: 24px;
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 20px 45px rgba(0,0,0,.25);
    transition: var(--transition);
}

.reviewBox:hover {
    transform: translateY(-6px);
    border-color: rgba(200,138,77,.35);
    box-shadow: 0 25px 55px rgba(200,138,77,.18);
}

/* Customer Image */

.customerImages {
    display: flex;
    align-items: center;
}

.customerImages img {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--surface);
    margin-left: -16px;
    transition: var(--transition);
}

.customerImages img:first-child{
    margin-left: 0;
}

.customerImages img:hover {
    transform: translateY(-8px) scale(1.08);
    z-index: 2;
}

/* REVIEW CONTENT */

.reviewContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reviewStars {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #ffd166;
    font-size: 1.5rem;
}

.reviewContent h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
}

.reviewContent p{
    font-size: 1.4rem;
    color: var(--text-light);
}

/* HERO STATS */

.heroStats {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

/* Stat Card */

.statCard {
    position: relative;
    min-width: 170px;
    padding: 24px 26px;
    border-radius: 22px;
    background: rgba(255,255,255,.04);
    border: 1px solid rgba(255,255,255,.08);
    backdrop-filter: blurI(18px);
    -webkit-backdrop-filter: blur(18px);
    overflow: hidden;
    transition: var(--transition);
}

.statCard::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(
        90deg,
        var(--primary),
        var(--primary-light)
    );
    transition: .45s;
}

.statCard:hover {
    transform: translateY(-8px);
    border-color: rgba(200,138,77,.35);
    box-shadow: 0 22px 50px rgba(200,138,77,.20);
}

.statCard:hover::before {
    width: 100%;
}

.statCard h2{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    color: transparent;
    background: linear-gradient(
        135deg,
        #ffd58a,
        var(--primary-light),
        var(--primary)
    );
    -webkit-background-clip: text;
    background-clip: text;
}

.statCard span{
    display: block;
    font-size: 1.5rem;
    color: var(--text-light);
    line-height: 1.7;
}

.statCard::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        120deg,
        transparent 35%,
        rgba(255,255,255,.08),
        transparent 65%
    );
    transform: translateX(-130%);
    transition: .8s;
}

.statCard:hover::after {
    transform: translateX(130%);
}

/* ========== HERO VISUAL =============*/

.heroVisual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 780px;
    isolation: isolate !important;
}

.heroGlow {
    position: absolute;
    width: 620px;
    height: 620px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(201,145,78,.35),
        transparent 70%
    );
    filter: blur(35px);
    animation: glowMore 8s ease-in-out infinite;
    transform: translateZ(-120px);
}

/* Rings */

.heroRing {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.08);
    transform: translateZ(-60px);
}

.ringOne {
    width: 520px;
    height: 520px;
}

.ringTwo {
    width: 650px;
    height: 650px;
    border-style: dashed;
    opacity: .45;
    animation: rotateRing 30s linear infinite;
}

.coffeeProduct {
    position: relative;
    width: 360px;
    max-width: 600px;
    min-width: 480px;
    aspect-ratio: 1;
    z-index: 20;
    animation: floatCoffee 5s ease-in-out infinite;
    overflow: hidden;
    transform: translateZ(80px);
}

.coffeeProduct img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.05);
    user-select:none;
    -webkit-user-drag:none;
    pointer-events:none;
    transition:
    transform .7s ease,
    filter .7s ease;
}

.heroVisual:hover{
    transform: scale(1.02);
    transition: .6s ease;
}

.heroVisual:hover .coffeeProduct img {
    transform: scale(1.03);
    filter:
        brightness(1.05)
        saturate(1.15)
        drop-shadow(0 55px 90px rgba(0,0,0,.65)
    );
}

.heroVisual:hover .goldShine{
    animation-duration: 3s;
}

.glassReflection {
    position: absolute;
    top:6%;
    left: 14%;
    width: 120px;
    height: 260px;
    border-radius: 100px;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,.55),
        transparent
    );
    transform: rotate(-25deg);
    filter: blur(4px);
    opacity: .55;
}

.coffeeSteam {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.coffeeSteam span {
    position: absolute;
    bottom: 72%;
    width: 8px;
    height: 120px;
    background: linear-gradient(
        to top,
        rgba(255,255,255,.15),
        transparent
    );
    border-radius: 50px;
    filter: blur(6px);
    animation: steam 3.8s linear infinite;
}

.coffeeSteam span:nth-child(1) {
    left: 42%;
}

.coffeeSteam span:nth-child(2) {
    left: 50%;
    animation-delay: 1s;
}

.coffeeSteam span:nth-child(3) {
    left: 58%;
    animation-delay: 2s;
}

@keyframes floatCoffee {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-18px);
    }
}

@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glowMore{

    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.08);
    }
}

@keyframes steam{

    0%{
        opacity:0;
        transform:
        translateY(20px)
        scale(.8);
    }

    40%{
        opacity:.45;
    }

    100%{
        opacity:0;
        transform:
        translateY(-90px)
        scale(1.4);
    }
}

/* Floating Card */
.floatingCard {
    position:absolute;
    display:flex;
    align-items:center;
    gap:14px;
    padding:16px 20px;
    min-width:180px;
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    box-shadow:
    0 20px 45px rgba(0,0,0,.35),
    inset 0 1px rgba(255,255,255,.08);
    transition:.45s ease;
    overflow:hidden;
    z-index: 30;
}
.floatingCard::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,.18),
    transparent);

    transform:translateX(-150%);

    transition:.8s;
}

.floatingCard:hover::before{

    transform:translateX(150%);

}

.floatingCard:hover{

    transform:
    translateY(-8px)
    scale(1.03);

    border-color:rgba(200,138,77,.45);

    box-shadow:
    0 25px 60px rgba(0,0,0,.45),
    0 0 35px rgba(200,138,77,.18);

}

.cardIcon {
    width: 52px;
    height: 52px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary);
    background: rgba(201,145,78,.12);
    border: 1px solid rgba(201,145,78,.25);
    flex-shrink: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardContent span {
    font-size: 1.3rem;
    color: var(--text-light);
    letter-spacing: .5px;
}

.cardContent h4{
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.3;
}

.ratingCard {
    flex-direction: column;
    align-items: flex-start;
}

.ratingStars {
    display: flex;
    gap: 4px;
    color: #ffd66b;
    font-size: 1.6rem;
}

.ratingCard h3{
    font-size: 4rem;
    color: var(--white);
    line-height: 1;
}

.ratingCard spna {
    color: var(--text-light);
    font-size: 1.4rem;
}

.experienceCard{
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.experienceCard h2{
    font-size: 4.8rem;
    color: var(--primary);
    line-height: 1;
}

.experienceCard span {
    font-size: 1.4rem;
    color: var(--text-light);
}

.priceCard {
    flex-direction: column;
    align-items: flex-start;
}

.priceCard small{
    font-size: 1.2rem;
    color: var(--text-light);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.priceCard h3{
    font-size: 3.6rem;
    color: var(--primary);
    line-height: 1.1;
}

.priceCard span {
    font-size: 1.4rem;
    color: var(--white);
}

/* Floating Card Position */

.awardCard {
    top:160px;
    left:-50px;
    animation:
    floatCard 5s ease-in-out infinite;
}

.organicCard {
    top:160px;
    right:-50px;
    animation:
    floatCard 7s ease-in-out infinite;
}

.deliveryCard {
    right:-20px;
    bottom:210px;
    animation:
    floatCard 6s ease-in-out infinite;
}

.ratingCard {
    left:10px;
    bottom:170px;
    animation:
    floatCard 8s ease-in-out infinite;
}

.experienceCard {
    left:70px;
    bottom:20px;
    animation:
    floatCard 5.5s ease-in-out infinite;
}

.priceCard {
    right:40px;
    bottom:0px;
    animation:
    floatCard 6.5s ease-in-out infinite;
}

.liveCard {
    top: 0;
    /* left: -10%; */
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    animation:
    floatCard 7.5s ease-in-out infinite;
}

@keyframes floatCard{

    0%,100%{
        transform:
        translateY(0)
        translateZ(50px);
    }

    50%{
        transform:
        translateY(-14px)
        translateZ(50px);
    }

}

.liveDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #38d66b;
    box-shadow:
    0 0 15px #38d66b,
    0 0 35px #38d66b;
    animation: livePulse 1.4s infinite;
}

.floatingCard{
    animation: cardFloat 6s ease-in-out infinite;
}

.awardCard{
    animation-delay: 0s;
}

.organicCard{
    animation-delay: 1s;
}

.deliveryCard{
    animation-delay: 2s;
}

.ratingCard {
    animation-delay: 3s;
}

.experienceCard {
    animation-delay: 4s;
}

.priceCard{
    animation-delay: 5s;
}

@keyframes cardFloat{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-14px);
    }
}

@keyframes livePulse{

    0%{
        transform:scale(1);
        opacity:1;
    }

    50%{
        transform:scale(1.4);
        opacity:.6;
    }

    100%{
        transform:scale(1);
        opacity:1;
    }
}

/* Floating Coffee Beans */

.floatingBean {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        #6d4124,
        #2e170c
    );
    box-shadow:
    inset -3px -3px 6px rgba(255,255,255,.08),
    inset 3px 3px 8px rgba(0,0,0,.45),
    0 8px 20px rgba(0,0,0,.35);
    opacity: .85;
    animation: beanFloat 8s ease-in-out infinite;
}

.floatingBean::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    width: 2px;
    height: 80%;
    transform: translateX(-50%);
    background: rgba(0,0,0,.35);
    border-radius: 50px;
}

.beanOne {
    top: 8%;
    left: 12%;
}

.beanTwo {
    top: 18%;
    right: 10%;
    animation-delay: 1s;
}

.beanThree {
    bottom: 15%;
    right: 18%;
    animation-delay: 2s;
}

.beanFour {
    bottom: 8%;
    right: 18%;
    animation-delay: 3s;
}

.beanFive {
    top: 45%;
    left: -5%;
    animation-delay: 4s;
}

.beanSix {
    top: 60%;
    right: -4%;
    animation-delay: 5s;
}

/* Light Particles */

.lightParticle{
    position:absolute;
    width:8px;
    height:8px;
    border-radius:50%;
    background:#FFD27A;
    box-shadow:
    0 0 12px #FFD27A,
    0 0 30px rgba(255,210,122,.6);
    animation:particleFloat 7s linear infinite;
}

.p1{
    top:12%;
    left:35%;
}

.p2{
    top:25%;
    right:25%;
    animation-delay:1s;
}

.p3{
    top:60%;
    left:18%;
    animation-delay:2s;
}

.p4{
    bottom:18%;
    right:12%;
    animation-delay:3s;
}

.p5{
    bottom:32%;
    left:40%;
    animation-delay:4s;
}

.p6{
    top:40%;
    right:2%;
    animation-delay:5s;
}

.p2,
.p5{
    width:5px;
    height:5px;
}

.p3{
    width:12px;
    height:12px;
}

.p6{
    width:6px;
    height:6px;
}

.p2{
    animation-delay:1s;
}

.p3{
    animation-delay:2s;
}

.p4{
    animation-delay:3s;
}

.p5{
    animation-delay:1.5s;
}

.p6{
    animation-delay:2.5s;
}

/* Glod Shine */

/* .goldShine{
    position:absolute;
    inset:-40%;
    z-index:18;
    pointer-events:none;
    background:linear-gradient(
        120deg,
        transparent 0%,
        transparent 42%,
        rgba(255,255,255,.08) 47%,
        rgba(255,230,170,.35) 50%,
        rgba(255,255,255,.08) 53%,
        transparent 58%,
        transparent 100%
    );
    transform:rotate(-15deg)
            translateX(-120%);
    animation:goldSweep 8s linear infinite;
} */

@keyframes goldSweep{

    from{
        transform:
        rotate(-15deg)
        translateX(-120%);
    }

    to{
        transform:
        rotate(-15deg)
        translateX(120%);
    }
}

/* Glass Overlay */

.glassOverlay{
    position:absolute;
    inset:0;
    border-radius:50%;
    background:linear-gradient(
        180deg,
        rgba(255,255,255,.05),
        transparent 55%
    );
    pointer-events:none;
}

@keyframes beanFloat{

    0%,100%{
        transform:
        translateY(0)
        rotate(0deg);
    }

    50%{
        transform:
        translateY(-18px)
        rotate(10deg);
    }
}

@keyframes particleFloat{

    0%{
        transform:
        translateY(0)
        scale(.8);
        opacity:.2;
    }

    30%{
        opacity:1;
    }

    50%{
        transform:
        translateY(-18px)
        scale(1.15);
    }

    100%{
        transform:
        translateY(-40px)
        scale(.8);
        opacity:0;
    }

}

@keyframes shineMove{

    from{
        transform:
        translateX(-120%)
        rotate(-20deg);
    }

    to{
        transform:
        translateX(120%)
        rotate(-20deg);
    }
}

/* Scroll Indicator */

.scrollIndicator {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 50;
}

.mouse {
    width: 34px;
    height: 58px;
    border: 2px solid rgba(255,255,255,.35);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.wheel {
    width: 5px;
    height: 10px;
    border-radius: 20px;
    background: var(--primary);
    animation: mouseWheel 1.8s infinite;
}

.scrollText {
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255,255,255,.55);
}

@keyframes mouseWheel {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(18px);
    }
}

/* Hero Animation */

@keyframes heroContent{

    from{
        opacity:0;
        transform:
        translateX(-70px);
    }

    to{
        opacity:1;
        transform:
        translateX(0);
    }
}

@keyframes heroVisual{

    from{
        opacity:0;
        transform:
        translateX(70px)
        scale(.92);
    }

    to{
        opacity:1;
        transform:
        translateX(0)
        scale(1);
    }
}

/* RESPONSIVE BASE */

@media (max-width:768px){

#hero{
    padding:150px 0 100px;
}

.heroTitle{
    font-size:5rem;
}

.heroDescription{
    font-size:1.6rem;
}

.heroVisual{
    min-height:520px;
}

.coffeeProduct{
    width:340px;
}

.scrollIndicator{
    display:none;
}

}

/* LARGE LAPTOP */

@media (max-width:1400px){

    .heroContainer{
        gap:70px;
    }

    .heroTitle{
        font-size:6.8rem;
    }

    .coffeeProduct{
        width:380px;
    }

    .ringOne{
        width:470px;
        height:470px;
    }

    .ringTwo{
        width:580px;
        height:580px;
    }

}

/* LAPTOP */

@media (max-width:1200px){

    .heroContainer{
        gap:50px;
    }

    .heroTitle{
        font-size:6rem;
    }

    .heroDescription{
        font-size:1.7rem;
    }

    .coffeeProduct{
        width:340px;
    }

}

/* Tablet */

@media (max-width:992px){

    .heroContainer{
        grid-template-columns:1fr;
        text-align:center;
        gap:80px;
    }

    .heroContent{
        order:2;
    }

    .heroVisual{
        order:1;
        min-height:600px;
    }

}

@media (max-width:992px){
    .heroBadge,
    .heroButtons,
    .reviewBox,
    .heroStats{
        justify-content:center;
        margin-inline:auto;
    }
}

/*==================================
        768px
==================================*/

@media (max-width:768px){
    #hero{
        padding:150px 0 80px;
    }
    .heroTitle{
        font-size:5rem;
    }
    .heroDescription{
        font-size:1.6rem;
    }
    .heroButtons{
        flex-direction:column;
        align-items:center;
    }
    .heroStats{
        grid-template-columns:1fr;
    }
}

/*==================================
        576px
==================================*/

@media (max-width:576px){
    .heroTitle{
        font-size:4.2rem;
        letter-spacing:0;
    }
    .coffeeProduct{
        width:280px;
    }
    .ringOne{
        width:340px;
        height:340px;
    }
    .ringTwo{
        width:420px;
        height:420px;
    }
}

@media (max-width:576px){
    .goldShine,
    .beanFive,
    .beanSix,
    .p5,
    .p6{
        display:none;
    }
}

/** Hero Section End  */